.loginform input {
  width: 40%;
  padding: 10px;
  margin: 15px 0;
}

.loginform .submitBtn {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 42%;
  padding: 13px;
}
