.requestform input {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
}
.requestform .textarea {
  width: 100%;
}
.requestform .submitBtn {
  background-color: #9c27b0;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  padding: 13px;
  cursor: pointer;
}
